<style>

    /*
    :host {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 100px;
    }
*/

/*
    thead.sizing-thead[_ngcontent-c5]   th[_ngcontent-c5] {
        padding: 50 !important;
        border-width: 1;
    }

    #abcdef[_ngcontent-c2] table[_ngcontent-c2] tbody[_ngcontent-c2] tr[_ngcontent-c2] td[_ngcontent-c2] {
        padding-bottom: 0px;
        padding-top: 0px;
        height: 16px;
    }
    super-table-body {
        height: 500px;
    }

    #abcdef .table > thead > tr > th {
        border-bottom-width: 1px;
        font-size: 12px;
        text-transform: uppercase;
        color: #9A9A9A;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .table > thead > tr > th {
        border-bottom-width: 1px;
        font-size: 12px;
        text-transform: uppercase;
        color: #9A9A9A;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    table.table > thead > tr > th{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .sort-icon[_ngcontent-c6] {
        font-size: 90%;
    }

    .loading-message {
        text-align: center;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    super-table-body table.table.table-bordered tbody.visible-rows > tr > td > span,
    .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    .clasesTable {
        max-height: 30em; height: 30em; width: 100%;
    }
    */
</style>

<div id="idContainerFluid" class="container-fluid">

    <div>

        <div class="card">

            <p class="mt-3 mb-2">
                The following table has {{NUM_ROWS}} rows, and uses row-virtualization so
                the DOM is not overloaded. All sorting and filtering occurs on the client
                side. v.2
            </p>

            <super-table id="abcdef" style="max-height: 100%; height: 100%; width: 100%;"
                         [rows]="rows"
                         [columns]="columns"
                         [options]="options"
                         [tableClasses]="tableClasses">
            </super-table>

            <div
                    class="loading-message"
                    *ngIf="!isReady && !hasError">
                Loading...
            </div>

        </div>

    </div>

</div>