:host {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#idContainerFluid div.card {
    margin: 1% 0%;
    max-height: 30em;
    height: 30em;
    width: 100%;
}

div#idContainerFluid.container-fluid div div.card super-table#abcdef super-table-body table.table.table-bordered.clasesTable tbody.visible-rows tr td
{
    padding-top: 25px;
    padding-bottom: 25px;
}

td[table-cell] {
    padding-top: 25px;
    padding-bottom: 25px;
}