<!--
<link rel="stylesheet" href="../../../../assets/css/themes/material.scss">
<link rel="stylesheet" href="../../../../assets/css/themes/dark.scss">
<link rel="stylesheet" href="../../../../assets/css/themes/bootstrap.scss">
-->


<!--
<link rel="stylesheet" href="../../../../assets/ngx-datatable/release/index.css">
<link rel="stylesheet" href="../../../../assets/ngx-datatable/release/themes/material.css">
<link rel="stylesheet" href="../../../../assets/ngx-datatable/release/assets/icons.css">
-->

<!--
<link rel="stylesheet" href="../../../../assets/app.css">
<link rel="stylesheet" href="../../../../assets/icons.css">
-->

<!-- link rel="stylesheet" hrefjournal.component.css.css" -->

<style>

    /*
    ngx-datatable.bootstrap.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz {
        width: 100%;
        max-width: 100%
    }

    ngx-datatable.material.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz {
        width: 100%;
        max-width: 100%;
    }



    ngx-datatable.material.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz[_ngcontent-c2] {
        padding-top: 5px;
        width: 99%;
        max-width: 99%;
    }

    .ngx-datatable[_ngcontent-c2], .info[_ngcontent-c2] {
        text-align: left;
        / *width: 75%; * /
        margin: 0 auto;
        width: 59%;
        max-width: 59%;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        display: block;
        overflow: hidden;
        text-align: center;
        background-color: #5cc8ff;
        font-weight: bold;
        vertical-align: middle;
    }

    ngx-datatable.material.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz[_ngcontent-c2][_ngcontent-c2].datatable-header.datatable-header{
        display: block;
        overflow: hidden;
        text-align: center;
        background-color: #5cc8ff;
        font-weight: bold;
        vertical-align: middle;
    }


    */

    /* ------------------------------------------- */
    /*
    datatable-header.datatable-header,
    div.datatable-header-inner {
        padding: 5px;
    }
    */

    /*ngx-datatable div.visible datatable-header.datatable-header div.datatable-header-inner{ */
    /*
    div.datatable-header-inner{
        padding: 20px;
        width: 100%;
        max-width: 100%;
        border-bottom-width: 1px;
    }

    ngx-datatable.material.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz,
    .clsXx {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: .5%;
        margin-bottom: .5%;
        width: 99%;
        max-width: 99%;
        padding: 1%;
    }

    ngx-datatable.material.striped.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz {
        margin-left: .5%;
        margin-top: .5%;
        margin-bottom: .5%;
        width: 100%;
        max-width: 99%;
    }

    ngx-datatable.material {
        padding: 1%;
        margin-left: 5px;
    }

    .clsX {
        margin-left: 35px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ngx-datatable.material.striped.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz[_ngcontent-c2] {
        margin-left: .5%;
        margin-top: .5%;
        margin-bottom: .5%;
        width: 99%;
        max-width: 99%;
    }

    .ngx-datatable .datatable-header element.style{
        display: block;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
    }

    ngx-datatable {
        width: 100%;
        max-width: 100%;
    }

    .datatable-header {
        width: 100%;
        max-width: 100%;
    }

    element.style {
        height: 30px;
        width: 1066px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    */

    .ngx-datatable.material.ngx-datatable.fixed-header.fixed-row.scroll-vertical.scroll-horz {
        margin-right: 5px;
        margin-left: 5.5px;
        margin-top: 0px;
        top: 0px;
        padding: 0px;
    }

    datatable-header .datatable-header {
        background-color: #ff3158;
        font-weight: bold;
        vertical-align: middle;
    }

    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
        background-color: #ff3158;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: normal !important;
        text-align: center !important;
        vertical-align: middle !important;
    }

    .ngx-datatable.material .datatable-header {
        background-color: #ff3158;
    }

    #idDivCard {
        padding: 0px;
        margin-top: 12px;
        height: 34.2em;
        max-height: 34.2em;
        margin-bottom: 0px;
    }

    .clsImagenExcel {
        cursor: not-allowed;
        width: 35px;
        height: 35px;
    }


    .es-retiro {
        background: #15D609;
    }
    .es-consulta {
        background: #BF642A;
    }

    datatable-header-cell.datatable-header-cell.sortable.resizeable {
        padding-bottom: 5px;
        padding-top: 5px;
        height: 19px;
    }


</style>
<div class="container-fluid">

    <filtros-consultas
            (parametrosConsulta)    = "parametrosConsulta($event)"
            [dUltimaActualizacion]  = "dUltimaActualizacion"
            [dListaAtmGpos]         = "dListaAtmGpos"
            [dSolicitaFechasIni]    = "dSolicitaFechasIni"
            [dSolicitaFechasFin]    = "dSolicitaFechasFin"
            [dTipoListaParams]      = "dTipoListaParams">
    </filtros-consultas>

    <div style="margin: 0% 0%; height: 34em; width: 100%;">

        <div id="idDivCard" class="card">

            <div class="row clsFontsTituloDatatables">

                <div class="col-md-3 clsTituloDatatables">
                    <span style="vertical-align: middle;">{{tituloDatatable}}</span>
                </div>

                <div class="col-md-6 clsFiltroDatatables">
                    <span style="font-weight: bold;">Filtro:</span>
                    <input type="text" (keyup)='updateFilter($event)'>
                </div>

                <div id="divExpExcel" class="col-md-3 clsExcelTituloDatatables">
                    <input id="btnExpExel" class="clsImagenExcel"
                           title={{tituloImgExcel}}
                           type=image
                           src="assets/img/office_excel.png"
                           (click)="exportaJournal2Excel()"
                           [disabled]="!isDatosJournal">
                </div>
            </div>

            <ngx-datatable
                #mydatatable
                [loadingIndicator]="loadingIndicator"
                [rows]="dataJournalRedBlu"
                class="material striped expandable"
                [columnMode]="force"
                [headerHeight]="30"
                [footerHeight]="30"
                [rowHeight]="25"
                [scrollbarV]="true"
                [scrollbarH]="true"
                (click) = "tmpFnc($event)"
                [selected]="selected"
                [selectionType]="'multiClick'"
                [rowClass]="rowClass"
                (tableContextmenu)="onTableContextMenu($event)"
                [messages]="{totalMessage: 'Registros'}">

                <!--
                <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div style="padding-left:35px;">
                            <div><strong>Fecha</strong></div>
                            <div>{{row.TimeStamp}}</div>
                        </div>
                    </ng-template>
                </ngx-datatable-row-detail>
                -->


                <ngx-datatable-column
                    name="#"
                    [resizeable]="false"
                    [frozenLeft]="true"
                    [width]="45">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div class="colNum" >
                            <span class="colNum">{{rowIndex+1 | number:'1.0-0'}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="TimeStamp"
                        name="Fecha/Hora"
                        [resizeable]="false"
                        [frozenLeft]="true"
                        [width]="140">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div  class="noWrap">
                                <span>{{row.TimeStamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Ip"
                        name="IP"
                        [headerTemplate]="hdrTpl"
                        [width]="100">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="AtmName"
                        name="ATM"
                        [width]="110">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div  class="noWrap colCent">
                                <span>{{row.AtmName}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="CardNumber"
                        name="Tarjeta número"
                        filtering="{filterString: '', placeholder: 'Filter by name'}"
                        [width]="148">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="OperationType"
                        name="Tipo de Operación"
                        [width]="160">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="TransactionCount"
                        name="Contador de Transacción"
                        [resizeable]="true"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Amount"
                        name="Monto"
                        [width]="110">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="colNum" >
                                <span class="colNum">{{row.Amount | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column
                        prop="HWErrorCode"
                        name="Código de error de HW"
                        [width]="170">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="noWrap">
                                <span>{{row.HWErrorCode}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Denomination"
                        name="Denominación"
                        [width]="100">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Aquirer"
                        name="Emisor"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Event"
                        name="Evento"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="AccountId"
                        name="Cuenta Número"
                        [width]="120">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="AccountType"
                        name="Tipo de Cuenta"
                        [width]="130">
                </ngx-datatable-column>


                <ngx-datatable-column
                        prop="Location"
                        name="Ubicación"
                        [width]="250">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="noWrap">
                                <span>{{row.Location}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Arqc"
                        name="ARQC"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Arpc"
                        name="ARPC"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="FlagCode"
                        name="Flag Code"
                        [width]="80">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="TerminalCaps"
                        name="Terminal Capabilities"
                        [width]="130">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="PosMode"
                        name="POS Code"
                        [width]="80">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="AuthId"
                        name="Id Autorización"
                        [width]="100">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="SwitchAuthCode"
                        name="Código de Autorización del Switch"
                        [width]="190">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Surcharge"
                        name="Surcharge"
                        [width]="80">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="colNum" >
                                <span *ngIf="row.Surcharge == 0">0</span>
                                <span *ngIf="row.Surcharge > 0">{{row.Surcharge | number:'1.2-2'}}</span>
                                <!--
                                <span *ngIf="row.OperationType != 'BalanceCheck' && row.OperationType != 'Withdrawal"></span>
                                <span class="colNum" *ngIf="row.OperationType == 'BalanceCheck' || row.OperationType == 'Withdrawal' || row.OperationType == 'ControlMessage'>{{row.Surcharge | number:'1.2-2'}}</span>
                                -->
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="SwitchResponseCode"
                        name="Código de Respuesta del Switch"
                        [width]="180">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="colCent" >
                                <span>{{row.SwitchResponseCode}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Data"
                        name="Datos"
                        [width]="230">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="noWrap">
                                <span>{{row.Data}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Available"
                        name="Disponible"
                        [width]="110">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="colNum" >
                                <span *ngIf="row.Available == '' && row.Amount != ''">{{0 | currency:'USD':'symbol':'1.2-2'}}</span>
                                <span *ngIf="row.Available != ''">{{row.Available | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="SwitchAtmId"
                        name="Switch ATM Id"
                        [width]="100">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="colCent" >
                                <span>{{row.SwitchAtmId}}</span>
                            </div>
                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Reference1"
                        name="Referencia 1"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Reference2"
                        name="Referencia 2"
                        [width]="150">
                </ngx-datatable-column>

                <ngx-datatable-column
                        prop="Reference3"
                        name="Referencia 3"
                        [width]="150">
                </ngx-datatable-column>

            </ngx-datatable>

        </div>
    </div>
</div>