<!-- data-table-demo1.html -->
<style>
    /*
    .refresh-button, .column-selector-button{
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }
    .data-table.table td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    td.data-column.column-IsOnline{
        text-align: center;
        vertical-align: middle;
    }
    */

    #idDivAreaGrid {
        margin-top: 1.5%;
        height: 100%;
        width: 100%;
    }

    #idDivCardGrid {
        padding: 3px;
    }

    table tbody tr td.row-odd,
    table tbody tr td.row-even,
    table thead tr th.index-column-header,
    table thead tr th.expand-column-header {
        width: 2px;
        max-width: 2px;
    }


    :host /deep/ .index-column,
    :host /deep/ .index-column-header {
        text-align: right;
    }
    :host /deep/ .data-table .data-table-row.selected {
        background-color: #E4EDF9;
    }

    /* Activa scroll horizontal del journal */
    div.data-table-box{
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

<div class="container-fluid">

    <filtros-consultas
        (parametrosConsulta)    = "parametrosConsulta($event)"
        [dUltimaActualizacion]  = "dUltimaActualizacion"
        [dListaAtmGpos]         = "dListaAtmGpos"
        [dSolicitaFechasIni]    = "dSolicitaFechasIni"
        [dSolicitaFechasFin]    = "dSolicitaFechasFin"
        [dTipoListaParams]      = "dTipoListaParams">
    </filtros-consultas>

    <div id="idDivAreaGrid" style="margin: 1% 0%; height: 99%; width: 100%;">

        <div id="idDivCardGrid" class="card">

            <data-table id="stat-atms-grid"  style="overflow-x: hidden;"
                        [headerTitle]="Titulo"
                        [items]="items"
                        [itemCount]="itemCount"
                        (reload)="reloadItems($event)"
                        (rowClick)="rowClick($event)"
                        (rowDoubleClick)="rowDoubleClick($event)"
                        [limit]="regsLimite"
                        [rowColors]="rowColors"
                        [expandableRows]="true"
                        [indexColumnHeader]="'ID'"
                        [rowTooltip]="rowTooltip">

                <data-table-column
                        [property]="'Description'"
                        [header]="'Ubicación'"
                        [sortable]="true"
                        [resizable]="false"
                        width="4%">
                        <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                            <div>
                                <span>{{item.Description}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'idAtm'"
                        [header]="'ATM'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.4%">
                        <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                            <div>
                                <span>{{item.idAtm}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <!--
                <data-table-column
                        [property]="'ipAtm'"
                        [header]="'IP'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.5%">
                        <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                            <div>
                                <span>{{item.ipAtm}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                -->
                <data-table-column
                        [property]="'numRetiros'"
                        [header]="'Retiros'"
                        [sortable]="true"
                        [resizable]="false"
                        width="1.8%">
                        <ng-template #dataTableCell let-item="item" style="text-align: right;vertical-align: middle;">
                            <div style="text-align: right;">
                                <span>{{item.numRetiros | number:'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'comisionesRetiros'"
                        [header]="'Monto Surcharge'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.2%">
                        <ng-template #dataTableCell let-item="item" style="text-align: right;vertical-align: middle;">
                            <div style="text-align: right;">
                                <span>{{item.comisionesRetiros | currency:'USD':'symbol':'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'montoRetiros'"
                    header="Monto Retiros"
                    [sortable]="true"
                    [resizable]="false"
                    width="2.3%">
                    <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                        <div style="text-align: right;">
                            <span>{{item.montoRetiros | currency:'USD':'symbol':'1.0-2'}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'hraPrimerRetiro'"
                    [header]="'Primer Retiro'"
                    [sortable]="true"
                    [resizable]="false"
                    width="2%">
                    <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                        <div style="text-align: center;">
                            <span>{{item.hraPrimerRetiro}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'hraUtimoRetiro'"
                    [header]="'Último Retiro'"
                    [sortable]="true"
                    [resizable]="false"
                    width="2%">
                    <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                        <div style="text-align: center;">
                            <span>{{item.hraUtimoRetiro}}</span>
                        </div>
                    </ng-template>
                </data-table-column>


                <data-table-column
                        [property]="'numConsultas'"
                        [header]="'Consultas'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                        <ng-template #dataTableCell let-item="item" style="text-align: right;vertical-align: middle;">
                            <div style="text-align: right;">
                                <span>{{item.numConsultas | number:'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'comisionesConsultas'"
                        [header]="'Monto Surcharge'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.5%">
                        <ng-template #dataTableCell let-item="item" style="text-align: right;vertical-align: middle;">
                            <div style="text-align: right;">
                                <span>{{item.comisionesConsultas | currency:'USD':'symbol':'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'hraPrimeraConsulta'"
                        [header]="'Primera Consulta'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                    <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                        <div style="text-align: center;">
                            <span>{{item.hraPrimeraConsulta}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'hraUtimaConsulta'"
                        [header]="'Última Consulta'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                    <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                        <div style="text-align: center;">
                            <span>{{item.hraUtimaConsulta}}</span>
                        </div>
                    </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'totalComisiones'"
                        [header]="'Total Surcharge'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.5%">
                    <ng-template #dataTableCell let-item="item" style="text-align: right;vertical-align: middle;">
                        <div style="text-align: right;">
                            <span>{{item.totalComisiones | currency:'USD':'symbol':'1.0-2'}}</span>
                        </div>
                    </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>
</div>