<!-- data-table-demo1.html -->
<style>
    /*
    .refresh-button, .column-selector-button{
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }
    .data-table.table td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    td.data-column.column-IsOnline{
        text-align: center;
        vertical-align: middle;
    }
    */

    #idDivAreaGrid {
        margin-top: 1.5%;
        height: 100%;
        width: 100%;
    }

    #idDivCardGrid {
        padding: 3px;
    }

    table tbody tr td.row-odd,
    table tbody tr td.row-even,
    table thead tr th.index-column-header,
    table thead tr th.expand-column-header {
        width: 2px;
        max-width: 2px;
    }


    :host /deep/ .index-column,
    :host /deep/ .index-column-header {
        text-align: right;
    }
    :host /deep/ .data-table .data-table-row.selected {
        background-color: #E4EDF9;
    }

    /* Activa scroll horizontal del journal */
    div.data-table-box{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .data-table-header {
        display : none;
    }

    table, th, td {
        border: 1px solid black;
    }
    .letraNegrita{
        font-weight: bold;
    }
    .centraTexto{
        text-align: center;
    }
    .sombraObjeto {
        -webkit-box-shadow: 9px 13px 23px -4px rgba(82,76,82,0.69);
        -moz-box-shadow: 9px 13px 23px -4px rgba(82,76,82,0.69);
        box-shadow: 9px 13px 23px -4px rgba(82,76,82,0.69);
    }
    #divErroresOpers,
    #divOpersSinError{
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 25%;"
        width: 35em;
        max-width: 35em;
    }

    #tablaErroresOpers {
        width: 100%;
        max-width: 100%;
        border: 1px solid;
    }

    #tablaErroresOpers thead tr th {
        background-color: #1A1561;
        color: #FFFFFF;
    }

    #tablaErroresOpers[_ngcontent-c1] thead[_ngcontent-c1] tr[_ngcontent-c1] th[_ngcontent-c1] {
        background-color: #5C5757;
        color: #FFFFFF;
        /*font-weight: bold;*/
    }

    #corte-etv .table.table-condensed.table-bordered.data-table thead tr th {
        background-color: #1A1561;
        color: #FFFFFF;
        font-weight: bold;
    }

    #tablaErroresOpers thead tr th,
    #tablaErroresOpers thead tr td {
        border: 1px solid black;
    }

    #tablaErroresOpers thead {
        border: 1px solid black;
    }
	
	.clsColumnaRigth{
		text-align: right;
		vertical-align: middle;
	}
	
	.clsColumnaLeft{
		text-align: left;
		vertical-align: middle;
	}
	
	.clsColumnaCenter{
		text-align: center;
		vertical-align: middle;
	}
	
</style>

<div class="container-fluid">

    <filtros-consultas
        (parametrosConsulta)    = "parametrosConsulta($event)"
        [dUltimaActualizacion]  = "dUltimaActualizacion"
        [dListaAtmGpos]         = "dListaAtmGpos"
        [dSolicitaFechasIni]    = "dSolicitaFechasIni"
        [dSolicitaFechasFin]    = "dSolicitaFechasFin"
        [dTipoListaParams]      = "dTipoListaParams">
    </filtros-consultas>

    <div id="idDivAreaGrid" style="margin: 1% 0%; height: 99%; width: 100%;">

        <div id="idDivCardGrid" class="card">

            <!--
            <div class="row" style="padding: 0px; vertical-align: middle;">

                <div class="col-md-8" style="vertical-align: middle;">
                    <span style="font-size: 25px;">Operaciones Financieras</span>
                </div>
                <div class="col-md-4" style="text-align: right; vertical-align: middle;">
                    < !- - button type="button" class="btn btn-secondary" (click)="this.exportaJournal2Excel()">Export Excel</button -- >
                    <input id="btnExpExel"
                        style="cursor: pointer;"
                        title="Exporta archivo CVS"
                        type=image   src="assets/img/office_excel.png"
                        [attr.disabled]="isDatosJournal?'':null"
                        width="45" height="40" (click)="exportaJournal2Excel()">
                </div>
            </div>
    -->

            <data-table id="idOpersFinancieras"  style="overflow-x: hidden;"
                        headerTitle="Operaciones Financieras"
                        [items]="items"
                        [itemCount]="itemCount"
                        (reload)="reloadItems($event)"
                        (rowClick)="rowClick($event)"
                        (rowDoubleClick)="rowDoubleClick($event)"
                        [limit]="regsLimite"
                        [rowColors]="rowColors"
                        [expandableRows]="true"
                        [indexColumnHeader]="'ID'"
                        [rowTooltip]="rowTooltip">

                <ng-template #dataTableExpand  let-item="item">
                    <div *ngIf="item.errTotal > 0" id="divErroresOpers" class="content table-responsive">
                        <div class="centraTexto">
                            <span class="letraNegrita" style="font-size: 17px">Operaciones con error de comunicación</span>
                        </div>

                        <table id="tablaErroresOpers" class="table table-hover table-striped sombraObjeto" style="border: 1px solid black;">
                            <thead>
                                <tr class="fondoTituloDetalle">
                                    <th class="col-md-1">Operaciones</th>
                                    <th class="col-md-1">Número</th>
                                    <th class="col-md-1">Monto</th>
                                    <th class="col-md-1">Comisión</th>
                                    <th class="col-md-1">Primera</th>
                                    <th class="col-md-1">Última</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-1 letraNegrita">Retiros</td>
                                    <td class="col-md-1 campoNumerico">{{item.errRetiros | number:'1.0-0'}}</td>
                                    <td class="col-md-1 campoNumerico">{{item.errMontoRetiros | currency:'USD':'symbol':'1.2-2'}}</td>
                                    <td class="col-md-1 campoNumerico">{{item.errComisionRetiros | currency:'USD':'symbol':'1.2-2'}}</td>
                                    <td class="col-md-1 centraTexto">{{item.errPrimerRetiro}}</td>
                                    <td class="col-md-1 centraTexto">{{item.errUltimoRetiro}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1 letraNegrita">Consultas</td>
                                    <td class="col-md-1 campoNumerico">{{item.errConsultas | number:'1.0-0'}}</td>
                                    <td class="col-md-1 campoNumerico"></td>
                                    <td class="col-md-1 campoNumerico">{{item.errComisionConsultas | currency:'USD':'symbol':'1.2-2'}}</td>
                                    <td class="col-md-1 centraTexto">{{item.errPrimeraConsulta}}</td>
                                    <td class="col-md-1 centraTexto">{{item.errUltimaConsulta}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="item.errTotal == 0" id="divOpersSinError">
                        <span class="letraNegrita" style="font-size: 17px">Operaciones sin errores</span>
                    </div>
                </ng-template>

                <data-table-column
                        [property]="'Description'"
                        [header]="'Ubicación'"
                        [sortable]="true"
                        [resizable]="true"
                        width="55px">
                        <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                            <div class="noWrap">
								<span [ngStyle]="getColor(item.Description)">						
									{{item.Description}}
								</span>							
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'numRetiros'"
                        [header]="'Retiros'"
                        [sortable]="true"
                        [resizable]="false"
                        width="1.8%">
                        <ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
                            <div style="text-align: right;">
                                <span [ngStyle]="getColor(item.Description)">
									{{item.numRetiros | number:'1.0-2'}}
								</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'comisionesRetiros'"
                        [header]="'Monto Surcharge'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.2%">
                        <ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
                            <div style="text-align: right;">
								<span [ngStyle]="getColor(item.Description)">
									{{item.comisionesRetiros | currency:'USD':'symbol':'1.0-2'}}
								</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'montoRetiros'"
                    header="Monto Retiros"
                    [sortable]="true"
                    [resizable]="false"
                    width="2.3%">
                    <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                        <div style="text-align: right;">
                            <span>{{item.montoRetiros | currency:'USD':'symbol':'1.0-2'}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'hraPrimerRetiro'"
                    [header]="'Primer Retiro'"
                    [sortable]="true"
                    [resizable]="false"
                    width="2%">
                    <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                        <div style="text-align: center;">
                            <span>{{item.hraPrimerRetiro}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                    [property]="'hraUtimoRetiro'"
                    [header]="'Último Retiro'"
                    [sortable]="true"
                    [resizable]="false"
                    width="2%">
                    <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                        <div style="text-align: center;">
                            <span>{{item.hraUtimoRetiro}}</span>
                        </div>
                    </ng-template>
                </data-table-column>

                <data-table-column
					[property]="'numConsultas'"
					[header]="'Consultas'"
					[sortable]="true"
					[resizable]="false"
					width="2%">
					<ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
						<div style="text-align: right;">
							<span [ngStyle]="getColor(item.Description)">
								{{item.numConsultas | number:'1.0-2'}}
							</span>
						</div>
					</ng-template>
                </data-table-column>
                <data-table-column
					[property]="'comisionesConsultas'"
					[header]="'Monto Surcharge'"
					[sortable]="true"
					[resizable]="false"
					width="2.5%">
					<ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
						<div style="text-align: right;">
							<span [ngStyle]="getColor(item.Description)">
								{{item.comisionesConsultas | currency:'USD':'symbol':'1.0-2'}}
							</span>
						</div>
					</ng-template>
                </data-table-column>
                <data-table-column
					[property]="'hraPrimeraConsulta'"
					[header]="'Primera Consulta'"
					[sortable]="true"
					[resizable]="false"
					width="2%">
					<ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
						<div style="text-align: center;">
							<span>{{item.hraPrimeraConsulta}}</span>
						</div>
					</ng-template>
                </data-table-column>
                <data-table-column
					[property]="'hraUtimaConsulta'"
					[header]="'Última Consulta'"
					[sortable]="true"
					[resizable]="false"
					width="2%">
					<ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
						<div style="text-align: center;">
							<span>{{item.hraUtimaConsulta}}</span>
						</div>
					</ng-template>
                </data-table-column>

                <data-table-column
					[property]="'totalComisiones'"
					[header]="'Total Surcharge'"
					[sortable]="true"
					[resizable]="false"
					width="35px">
					<ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
						<div style="text-align: right;">
							<span [ngStyle]="getColor(item.Description)">
								{{item.totalComisiones | currency:'USD':'symbol':'1.0-2'}}
							</span>
						</div>
					</ng-template>
                </data-table-column>

                <data-table-column
					[property]="'errTotal'"
					[header]="'Errores Comunicación'"
					[sortable]="true"
					[resizable]="false"
					width="30px">
					<ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
						<div style="text-align: right;">
							<span style="color: red" *ngIf="item.errTotal > 0">{{item.errTotal | number:'1.0-2'}}</span>
							<span style="color: black" *ngIf="item.errTotal == 0">{{item.errTotal | number:'1.0-2'}}</span>
						</div>
					</ng-template>
                </data-table-column>





                <data-table-column
                        [property]="'numDepositos'"
                        [header]="'Depósitos'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                        <ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
                            <div style="text-align: right;">
                                <span>{{item.numDepositos | number:'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'montoDepositos'"
                        [header]="'Monto Depósitos'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2.2%">
                        <ng-template #dataTableCell let-item="item" class="clsColumnaRigth">
                            <div style="text-align: right;">
                                <span>{{item.montoDepositos | currency:'USD':'symbol':'1.0-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'hraPrimerDeposito'"
                        [header]="'Primera Depósito'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                    <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                        <div style="text-align: center;">
                            <span>{{item.hraPrimerDeposito}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'hraUtimoDeposito'"
                        [header]="'Última Depósito'"
                        [sortable]="true"
                        [resizable]="false"
                        width="2%">
                    <ng-template #dataTableCell let-item="item" class="clsColumnaCenter">
                        <div style="text-align: center;">
                            <span>{{item.hraUtimoDeposito}}</span>
                        </div>
                    </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>
</div>