div.ngx-columns{
    overflow-x: auto;
}

th.ngx-table__header-cell{
    background-color: #777777;
}

div#right {
    font-size: large;
    font-weight: bold;
    align-content: center;
}

/*  */
.noWrap {
    white-space: nowrap;
}

table.table.table-condensed.table-bordered.data-table{
    overflow-x: auto;
}

table.table{
    width: 1200px;
    overflow-x: scroll;
    margin-bottom: 2px;
}



div.data-table-box{
    margin-bottom: 15px;
}

/* Journal */
div.pagination-box {
    margin-top: 5px;
    height: 40px;
}

/* Activa scroll horizontal del journal */
div.data-table-box{
    overflow-x: auto;
    overflow-y: hidden;
}

/* Altura del renglon del journal */
tr.data-table-row.row-odd td, tr.data-table-row.row-even td {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

td.index-column {
    text-align: center;
}

table.table.table-condensed.table-bordered.data-table thead tr th {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
}


div.data-table-box table thead tr td {
    padding: 2px;
}

/* Clase para justificar a la derecha */
.colNum {
    text-align: right;
}

.colCent {
    text-align: center;
}

/* Elimina espacios internos superior e inferior de los botones de avance de la tabla */
button.btn.btn-default.pagination-firstpage,
button.btn.btn-default.pagination-prevpage,
button.btn.btn-default.pagination-nextpage,
button.btn.btn-default.pagination-lastpage {
    padding-bottom: 3px;
    padding-top: 3px;
}


input.form-control.ng-untouched.ng-pristine.ng-valid {
    height: 30px;
}

/* Color de la etiqueta de renglones y el total de paginas de la tabla */
div.input-group span.input-group-addon,
div.input-group div.input-group-addon {
    background-color: #eee;
}

/* Color del renglon de encabezado */
table.table.table-condensed.table-bordered.data-table thead tr x{
    background-color: #000080;
    color: white;
}

/* Altura de renglones en la tabla */
table.table.table-condensed.table-bordered.data-table tbody tr td {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Icono para el botón de Excel */
.botonExpExcel {
    display: block;
    width: 90px;
    padding: 2px 2px 2px 35px;
    background: url(../img/microsoft_excel.png) no-repeat 5px 5px;
}

div.data-table-header {
    margin-bottom: 0px;
}