<!-- app/reportes/params/params.component.html -->
<div style="margin: .5% 0%; height: 75px; width: 100%;">
    <div class="card" style="padding: 8px;">

        <div class="row">

            <div class="col-md-1">
                <div style="vertical-align: middle; text-align: center;">
                    <span style="font-weight: bold;">Filtros</span>
                    <input id="btnParams" style="cursor: pointer;"
                           type=image src="assets/img/../img/volume-synsizer-settings-icon.png"
                           width="40" height="40" (click)="pActualizaParams()">
                </div>
            </div>

            <div class="col-md-10">

                <div class="row">

                    <div class="col-md-3">
                        <div>
                            <angular2-date-picker *ngIf="dSolicitaFechasIni" [(ngModel)]="fchInicio" [settings]="settings"></angular2-date-picker>
                            <angular2-date-picker *ngIf="dSolicitaFechasFin" [(ngModel)]="fchFin" [settings]="settings"></angular2-date-picker>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-2" style="text-align: center;">
                        <span style="font-weight: bold;">{{contenidoCombo}}</span>
                        <select type="string" [(ngModel)]="gpoSeleccionado" (ngModelChange)="pAtmSeleccionado($event)">
                            <option value="" disabled>{{contenidoLista}}</option>
                            <option *ngFor="let gpo of ipATMs" [ngValue]="gpo">{{gpo}}</option>
                        </select>
                    </div>

                    <div class="col-md-3"></div>

                    <div class="col-md-3" style="text-align: center;">
                        <div>
                            <span style="font-weight: bold;">Última Actualización</span>
                            <input id="idFchHraUltimaActual" type="text" name="dUltimaActualizacion" disabled>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-1">
                <div style="vertical-align: middle; text-align: center;">
                    <span style="font-weight: bold;">Actualiza</span>
                    <input id="btnRefreshJournal" style="cursor: pointer;"
                           type=image src="assets/img/../img/refresh--database-icon-40430.png"
                           width="40" height="40" (click)="pActualizaInfo()">
                </div>
            </div>
        </div>
    </div>
</div>
