
ngx-datatable {

    height: 91%;
    max-height: 91%;
    left: 0px;

    /* Esquinas redondeadas */
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;

    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;

    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;

    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}
