<style>
    /* Activa scroll horizontal del journal */
    .scollsVentana{
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

<div class="container-fluid">

    <params
            (parametrosConsulta) = "parametrosConsulta($event)"
            [dUltimaActualizacion] = "dUltimaActualizacion"
            [dListaAtmGpos] = "dListaAtmGpos"
            [dTipoListaParams] = "dTipoListaParams">
    </params>

    <div class="" style="margin: 1% 0%; height: 37em; width: 100%;">

        <div class="card" style="padding: 3px;">
            <data-table id="resumen-efectivo"
                        headerTitle="Resumen de Efectivo"
                        [items]="items"
                        [itemCount]="itemCount"
                        (reload)="reloadItems($event)"
                        (rowClick)="rowClick($event)"
                        (rowDoubleClick)="rowDoubleClick($event)"
                        [expandableRows]="false"
                        [limit]="regsLimite"
                        [rowColors]="rowColors"
                        [indexColumnHeader]="'ID'"
                        [rowTooltip]="rowTooltip">

                <data-table-column
                        [property]="'tipoOper'"
                        [header]="'Tipo Operación'"
                        [sortable]="true"
                        [resizable]="false"
                        width="10em">

                </data-table-column>
                <data-table-column
                        [property]="'monto'"
                        [header]="'Monto'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.monto}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'opers'"
                        [header]="'Operaciones'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.opers}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'b20'"
                        [header]="'$20'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b20}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'b50'"
                        [header]="'$50'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b50}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'b100'"
                        [header]="'$100'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b100}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'b200'"
                        [header]="'$200'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b200}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'b500'"
                        [header]="'$500'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b500}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'b1000'"
                        [header]="'$1000'"
                        [sortable]="true"
                        [resizable]="false"
                        width="6em">
                        <ng-template #dataTableCell  let-item="item">
                            <div  class="campoNumerico">
                                <span>{{item.b1000}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>
</div>