<!-- data-table-demo1.html -->
<style>
    .refresh-button, .column-selector-button{
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }
    .data-table.table td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    td.data-column.column-IsOnline{
        text-align: center;
        vertical-align: middle;
    }
</style>

<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="stat-atms-grid"
                [headerTitle]="Titulo"
                [items]="items"
                [itemCount]="itemCount"
                (reload)="reloadItems($event)"
                (rowClick)="rowClick($event)"
                (rowDoubleClick)="rowDoubleClick($event)"
                [limit]="regsLimite"
                [rowColors]="rowColors"
                [expandableRows]="true"
                [indexColumnHeader]="'ID'"
                [indexColumn]="false"
                [rowTooltip]="rowTooltip">

                <ng-template #dataTableExpand  let-item="item">
                    <div  class="noWrap">
                        <table>
                            <tr>
                                <td>
                                    <span>ServiceDate: {{item.ServiceDate | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                </td>
                                <td>
                                    <span>Cassettero: {{item.cassettero}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>CassettesStatusTimestamp: {{item.CassettesStatusTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                </td>
                                <td>
                                    <span>Denominación: {{item.denominacion}}</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span>SafeOpenTs: {{item.SafeOpenTs | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                </td>
                                <td>
                                    <span>Cantidad: {{item.numBilletes}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>CabinetOpenTs: {{item.CabinetOpenTs | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                </td>
                                <td>
                                    <span>Monto Total: {{item.montoTotal}}</span>
                                </td>
                            </tr>
                            <tr>
                                <span>RetractStatusTimestamp: {{item.RetractStatusTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                            </tr>
                            <tr>
                                <span>RejectStatusTimestamp: {{item.RejectStatusTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                            </tr>
                            <tr>
                                <span>LastIOnlineTimestamp: {{item.LastIOnlineTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                            </tr>
                        </table>
                    </div>
                </ng-template>

        <data-table-column
                [property]="'Description'"
                [header]="'Descripción'"
                [sortable]="true"
                [resizable]="true"
                width="15em">
        </data-table-column>
        <data-table-column
                [property]="'Ip'"
                [header]="'IP'"
                [sortable]="true"
                [resizable]="false"
                width="8em">
        </data-table-column>
        <data-table-column
                [property]="'OfflineDevices'"
                [header]="'Disp.Error'"
                [sortable]="true"
                [resizable]="false"
                width="7em">
                <ng-template #dataTableCell let-item="item">
                    <span style="color: red" *ngIf="item.OfflineDevices == 'Error'">Error</span>
                    <span style="color: black" *ngIf="item.OfflineDevices == 'OK'">OK</span>
                </ng-template>
        </data-table-column>
        <data-table-column
                [property]="'IsOnline'"
                [header]="'OnLine'"
                [sortable]="true"
                [resizable]="false"
                width="8em">
                <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                    <span style="color: red; text-align: center;" *ngIf="item.IsOnline == 'Apagado'">Apagado</span>
                    <span style="color: black" *ngIf="item.IsOnline == 'Encendido'">Encendido</span>
                </ng-template>
        </data-table-column>
        <data-table-column
                [property]="'PaperStatus'"
                [header]="'Papel'"
                [sortable]="true"
                [resizable]="false"
                width="5em">
        </data-table-column>
        <data-table-column
                [property]="'SafeOpen'"
                [header]="'Bóveda'"
                [sortable]="true"
                [resizable]="false"
                width="7em">
                <ng-template #dataTableCell let-item="item">
                    <span style="color: red" *ngIf="item.SafeOpen == 'Abierta'">Abierta</span>
                    <span style="color: black" *ngIf="item.SafeOpen == 'Cerrada'">Cerrada</span>
                </ng-template>
        </data-table-column>
        <data-table-column
                [property]="'CabinetOpen'"
                [header]="'Gabinete'"
                [sortable]="true"
                [resizable]="false"
                width="7em">
                <ng-template let-row="row" let-value="value">
                    <span style="color: red" *ngIf="item.CabinetOpen == 'Abierto'">Abierto</span>
                    <span style="color: black" *ngIf="item.CabinetOpen == 'Cerrado'">Cerrado</span>
                </ng-template>
        </data-table-column>

        <data-table-column
                [property]="'CassetteAmount'"
                [header]="'Efectivo'"
                [sortable]="true"
                [resizable]="false"
                width="7em">
                <ng-template #dataTableCell let-item="item">
                    <span style="color: #ED1C24" *ngIf="item.CassetteAmount == 'LOW'">LOW</span>
                    <span style="color: #FFC90E" *ngIf="item.CassetteAmount == 'MED'">MED</span>
                    <span style="color: black" *ngIf="item.CassetteAmount == 'FULL'">FULL</span>
                </ng-template>
        </data-table-column>

    </data-table>
</div>