<!-- data-table-demo1.html -->
<style>
    /*
    .refresh-button, .column-selector-button{
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px 2px;
        vertical-align: middle;
    }
    .data-table.table td {
        padding: 2px 2px;
        vertical-align: middle;
    }

    td.data-column.column-IsOnline{
        text-align: center;
        vertical-align: middle;
    }
    */

    #idDivAreaGrid #idDivCardGrid #stat-atms-grid > div > div > table > tbody > tr td.index-column,
    #stat-atms-grid > div > div > table > thead > tr th.index-column-header {
        width: 5px;
        max-width: 5px;
    }

    th.index-column-header[_ngcontent-c4] {
        width: 10px;
    }

    #idDivAreaGrid {
        margin-top: 1.5%;
        height: 100%;
        width: 100%;
    }

    #idDivCardGrid {
        padding: 3px;
    }

    table tbody tr td.row-odd,
    table tbody tr td.row-even,
    table thead tr th.index-column-header,
    table thead tr th.expand-column-header {
        width: 2px;
        max-width: 2px;
    }


    #contenedor{
        overflow:hidden;
    }

    #1{
        float: left;
    }

    #2{
        float:left;
    }

    .letrasNegritas{
        font-weight:bold;
    }
     /* Ahora, para diferenciarlo, vamos a colocarle colores a cada cajón: */
    .div0{
        float:left;
        background:#FFFFFF;
        width: 20px;
        height: 80%;
    }
    #div1{
        margin-top: 10px;
        float:left;
        background:#F7F7F8;
        width: 280px;
        height: 80%;
        padding: 8px;

    }
    #div2{
        margin-top: 10px;
        float:left;
        background:#F7F7F8;
        width: 220px;
        height: 80%;
        padding: 8px;
    }
    #div3{
        float:left;
        background: #E8E8E8;
        width: 100px;
        height: 80%;
    }

    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}


    span:nth-child(1)   {
        color: #777;
    }
    span:nth-child(even) {
        color: blue;
    }

</style>

<div class="container-fluid">

    <filtros-consultas
        (parametrosConsulta)    = "parametrosConsulta($event)"
        [dUltimaActualizacion]  = "dUltimaActualizacion"
        [dListaAtmGpos]         = "dListaAtmGpos"
        [dSolicitaFechasIni]    = "dSolicitaFechasIni"
        [dSolicitaFechasFin]    = "dSolicitaFechasFin"
        [dTipoListaParams]      = "dTipoListaParams">
    </filtros-consultas>

    <div id="idDivAreaGrid">

        <div id="idDivCardGrid" class="card">

            <data-table id="stat-atms-grid"
                        [headerTitle]="Titulo"
                        [items]="items"
                        [itemCount]="itemCount"
                        (reload)="reloadItems($event)"
                        (rowClick)="rowClick($event)"
                        (rowDoubleClick)="rowDoubleClick($event)"
                        [limit]="regsLimite"
                        [rowColors]="rowColors"
                        [expandableRows]="true"
                        [indexColumnHeader]="'ID'"
                        >

                        <ng-template #dataTableExpand  let-item="item">
                            <div id="contenedor" style="overflow: hidden; height: 250px">

                                <div id="div1"  style="border: solid thin;">
                                    <span class="letrasNegritas">Última Actualización</span>
                                    <div>
                                        <div *ngFor="let ultimaAct of item.FchsUltimaAct" class="table table-striped tabla">
                                            <div id="1" style="float: left; width: 8rem;">
                                                <span>{{ultimaAct.desc}}</span>
                                            </div>
                                            <div id="2" style="float: left; width: 17rem;">
                                                <span>{{ultimaAct.fcha | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="div0"></div>

                                <div id="div2"   style="border: solid thin;">
                                    <span class="letrasNegritas">Dispositivos con Error</span>
                                    <div>
                                        <div *ngFor="let dispositivo of item.DevicesOffline" class="table table-striped tabla">
                                            <span>{{dispositivo}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="div0"></div>
                                <div id="div3">Texto que va en el div3</div>

<!--
                                <div class="row">
                                <div class="col-md-6" style="height: 70%;  border: thin; margin-left: 5px">
                                    <span style="font-weight:bold;">Última Actualización</span>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr *ngFor="let ultimaAct of item.FchsUltimaAct">
                                                <td class="col-md-2">{{ultimaAct.desc}}</td>
                                                <td class="col-md-2">{{ultimaAct.fcha | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                    <div class="col-md-6" style="height: 70%;  border: solid;">

                                </div>
-->


                                <!--
                                <div id="1" style="float: left; max-width: 40px; width: 40px;">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 100%;max-width: 100%;">Última Actualización</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ultimaAct of item.FchsUltimaAct">
                                                <td style="width: 10%;max-width: 10%;">{{ultimaAct.desc}}</td>
                                                <td style="width: 50%;max-width: 50%;">{{ultimaAct.fcha | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    -->


                                    <!--
                                    <span>Última Actualización</span>
                                    <div *ngFor="let ultimaAct of item.FchsUltimaAct" class="table table-bordered table-striped tabla">
                                        <div id="1" style="float: left; width: 8rem;">
                                            <span>{{ultimaAct.desc}}</span>
                                        </div>
                                        <div id="2" style="float: left; width: 17rem;">
                                            <span>{{ultimaAct.fcha | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                        </div>
                                    </div>
                                    -->

                                <!--
                                 </div>

                                <div id="2" style="float:left; width: 25rem;">
                                    <span>Dispositivos con Error</span>
                                    <div *ngFor="let dispositivo of item.DevicesOffline">
                                        <span>{{dispositivo}}</span>
                                    </div>
                                </div>
                            -->

                            </div>

                        </ng-template>

                <data-table-column
                        [property]="'Description'"
                        [header]="'Descripción'"
                        [sortable]="true"
                        [resizable]="true"
                        width="10em">
                        <ng-template #dataTableCell let-item="item">
                            <div   class="noWrap" style="width: 10em;">
                                <span nowrap>{{item.Description}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'Name'"
                        [header]="'Name'"
                        [sortable]="true"
                        [resizable]="true"
                        width="4em">
                </data-table-column>
                <data-table-column
                        [property]="'Ip'"
                        [header]="'IP'"
                        [sortable]="true"
                        [resizable]="true"
                        width="4em">
                </data-table-column>

                <data-table-column
                        [property]="'OfflineDevices'"
                        [header]="'Dispositivo'"
                        [sortable]="true"
                        [resizable]="false"
                        width=38px>
                        <ng-template #dataTableCell let-item="item">
                            <span style="color: red" *ngIf="item.OfflineDevices == 'Error'">Error</span>
                            <span style="color: black" *ngIf="item.OfflineDevices == 'OK'">Ok</span>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'IsOnline'"
                        [header]="'OnLine'"
                        [sortable]="true"
                        [resizable]="false"
                        width=35px>
                        <ng-template #dataTableCell let-item="item" style="text-align: center;vertical-align: middle;">
                            <span style="color: red; text-align: center;" *ngIf="item.IsOnline == 'Apagado'">Apagado</span>
                            <span style="color: black" *ngIf="item.IsOnline == 'Encendido'">Encendido</span>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'SafeOpen'"
                        [header]="'Bóveda'"
                        [sortable]="true"
                        [resizable]="false"
                        width=35px>
                        <ng-template #dataTableCell let-item="item">
                            <span style="color: red" *ngIf="item.SafeOpen == 'Abierta'">Abierta</span>
                            <span style="color: black" *ngIf="item.SafeOpen == 'Cerrada'">Cerrada</span>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'CabinetOpen'"
                        [header]="'Gabinete'"
                        [sortable]="true"
                        [resizable]="false"
                        width=35px>
                        <ng-template #dataTableCell let-item="item">
                            <span style="color: red" *ngIf="item.CabinetOpen == 'Abierto'">Abierto</span>
                            <span style="color: black" *ngIf="item.CabinetOpen == 'Cerrado'">Cerrado</span>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'CassetteAmount'"
                        [header]="'Efectivo'"
                        [sortable]="true"
                        [resizable]="false"
                        width=35px>
                        <ng-template #dataTableCell let-item="item">
                            <div style="text-align: center;">
                                <span style="color: #ED1C24" *ngIf="item.CassetteAmount == 'LOW'">LOW</span>
                                <span style="color: #FFC90E" *ngIf="item.CassetteAmount == 'MED'">MED</span>
                                <span style="color: black" *ngIf="item.CassetteAmount == 'FULL'">FULL</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'PaperStatus'"
                        [header]="'Papel'"
                        [sortable]="true"
                        [resizable]="false"
                        width=28px>
                        <ng-template #dataTableCell let-item="item">
                            <div style="text-align: center;">
                                <span nowrap>{{item.PaperStatus}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'LastIOnlineTimestamp'"
                        [header]="'Último Estatus'"
                        [sortable]="true"
                        [resizable]="false"
                        width=55px>
                        <ng-template #dataTableCell let-item="item">
                            <span>{{item.LastIOnlineTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                        </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>
</div>