
<div class="container-fluid">

    <params
        (parametrosConsulta) = "parametrosConsulta($event)"
        [dUltimaActualizacion] = "dUltimaActualizacion">
    </params>

    <!-- div style="margin: 0% 1%; height: 24em; width: 98%;" -->
    <div style="margin: 0% 0%; height: 24em; width: 100%;">

        <div class="card" style="padding: 3px;">

            <data-table id="journal"
                        headerTitle="Journal"
                        [items]="items"
                        [itemCount]="itemCount"
                        (reload)="reloadItems($event)"
                        (rowClick)="rowClick($event)"
                        (rowDoubleClick)="rowDoubleClick($event)"
                        [limit]="regsLimite"
                        [rowColors]="rowColors"
                        [selectOnRowClick]="true"
                        [indexColumnHeader]="'ID'"
                        [rowTooltip]="rowTooltip">

                <data-table-column
                        [property]="'TimeStamp'"
                        [header]="'Fecha/Hora'"
                        [sortable]="true"
                        [resizable]="false"
                        width="12em">
                        <ng-template #dataTableCell let-item="item">
                            <div  class="noWrap">
                                <span>{{item.TimeStamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'CardNumber'"
                        [header]="'Núm.Tarjeta'"
                        [sortable]="true"
                        [resizable]="false"
                        width="12em">
                </data-table-column>

                <data-table-column
                        [property]="'Event'"
                        [header]="'Evento'"
                        [sortable]="true"
                        [resizable]="true"
                        width="15em">
                </data-table-column>
                <data-table-column
                        [property]="'OperationType'"
                        [header]="'Tipo Operación'"
                        [sortable]="true"
                        [resizable]="true"
                        width="15em">
                </data-table-column>
                <data-table-column
                    [property]="'Amount'"
                    [header]="'Monto'"
                    [sortable]="true"
                    [resizable]="false"
                    width="7em">
                    <ng-template #dataTableCell let-item="item">
                        <div class="colNum" >
                            <span *ngIf="item.Amount == ''"></span>
                            <span class="colNum" *ngIf="item.Amount != ''">{{item.Amount | currency:'USD':'symbol':'1.2-2'}}</span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'Available'"
                        [header]="'Saldo'"
                        [sortable]="true"
                        [resizable]="false"
                        width="8em">
                        <ng-template #dataTableCell let-item="item">
                            <div class="colNum" >
                                <span *ngIf="item.Available == '' && item.Amount != ''">{{0 | currency:'USD':'symbol':'1.2-2'}}</span>
                                <span *ngIf="item.Available != ''">{{item.Available | currency:'USD':'symbol':'1.2-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'Surcharge'"
                        [header]="'Comisión'"
                        [sortable]="true"
                        [resizable]="false"
                        width="7em">
                        <ng-template #dataTableCell let-item="item">
                            <div class="colNum" >
                                <span *ngIf="item.OperationType != 'BalanceCheck' && item.OperationType != 'Withdrawal'"></span>
                                <span class="colNum" *ngIf="item.OperationType == 'BalanceCheck' || item.OperationType == 'Withdrawal' || item.OperationType == 'ControlMessage'">{{item.Surcharge | number:'1.2-2'}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'SwitchResponseCode'"
                        [header]="'Resp'"
                        [sortable]="true"
                        [resizable]="true"
                        width="6em">
                        <ng-template #dataTableCell let-item="item">
                            <div class="colCent" >
                                <span>{{item.SwitchResponseCode}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'HWErrorCode'"
                        [header]="'Información HW'"
                        [sortable]="true"
                        [resizable]="true"
                        width="20em">
                        <ng-template #dataTableCell let-item="item">
                            <div  class="noWrap">
                                <span>{{item.HWErrorCode}}</span>
                            </div>
                        </ng-template>
                </data-table-column>
                <data-table-column
                        [property]="'Data'"
                        [header]="'Datos'"
                        [sortable]="true"
                        [resizable]="true"
                        width="20em">
                        <ng-template #dataTableCell let-item="item">
                            <div class="noWrap">
                                <span>{{item.Data}}</span>
                            </div>
                        </ng-template>

                </data-table-column>

                <data-table-column
                        [property]="'Location'"
                        [header]="'Location'"
                        [sortable]="true"
                        [resizable]="true"
                        width="30em">
                        <ng-template #dataTableCell let-item="item">
                            <div  class="noWrap">
                                <span>{{item.Location}}</span>
                            </div>
                        </ng-template>
                </data-table-column>

                <data-table-column
                        [property]="'Id'"
                        [header]="'Id'"
                        [sortable]="true"
                        [resizable]="false">
                </data-table-column>
            </data-table>
        </div>
    </div>

</div>