<!-- app/reportes/params/params.component.html -->
<div style="margin: .5% 0%; height: 75px; width: 100%;">
    <div class="card" style="padding: 8px;">

        <div class="row">

            <div class="col-md-1">
                <div style="vertical-align: middle;">
                    <input id="btnParams"
                           type=image src="assets/img/../img/volume-synsizer-settings-icon.png"
                           width="40" height="40" (click)="pActualizaParams()">
                </div>
            </div>

            <div class="col-md-10">

                <div class="row">

                    <div class="col-md-3">
                        <angular2-date-picker [(ngModel)]="fchInicio" [settings]="settings"></angular2-date-picker>
                    </div>

                    <div class="col-md-3">
                        <div style="text-align: center;">ATM</div>
                    </div>

                    <div class="col-md-3"></div>

                    <div class="col-md-3">
                        <div>Última Actualización</div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <angular2-date-picker [(ngModel)]="fchFin" [settings]="settings"></angular2-date-picker>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <select type="string" [(ngModel)]="elijaOpcion" (ngModelChange)="pActualizaInfo()">
                            <option *ngFor="let ip of ipATMs" [ngValue]="ip">{{ip}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div>{{dUltimaActualizacion}}</div>
                    </div>

                    <div class="col-md-1"></div>

                </div>

            </div>

            <div class="col-md-1">
                <div style="vertical-align: middle;">
                    <input id="btnRefreshJournal"
                           type=image src="assets/img/../img/refresh--database-icon-40430.png"
                           width="40" height="40" (click)="pActualizaInfo()">
                </div>
            </div>
        </div>
    </div>
</div>

<input ng-show="hidden" type="text" [value]="arrParams" >