

<style>
    .justDer {
        text-align: right;
    }
    
    .justIzq {
        text-align: left;
    }
    
    .justCen {
        text-align: center;
    }
    
    .letraFontMedio {
        font-size: 0.875em;
    }
    
    .encabezado {
        font-weight: bold;
        background-color: #C0C0C0;
        text-align: right;
    }
    
    .encabezadoI {
        font-weight: bold;
        background-color: #C0C0C0;
        text-align: left;
    }
    
    .marco2 {
        border-width: 1px;
        border-style: solid;
    }
    
    .marco3 {
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-style: solid;
    }
    
    .eliminaEspacios {
        margin-left: 0px;
        padding-left: 1px;
        margin-right: 0px;
        padding-right: 1px;
    }
    
    .coloFondo {
        background-color: #E2F6FB;
    }
    
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 1px 1px;
        vertical-align: middle;
    }
    
    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1px;
        font-size: 0.875em;
    }
    
    .col1 {
        width: 20%;
    }

    .col1_25 {
        width: 25%;
    }
    .totalResumenBancos {
        /*background-color: #0B0B0B;*/
        /*color: #FFFFFF;*/
        text-transform: none;
        font-weight: bold;
    }
    .col2_7h {
        width: 7%;
        text-align: center;
    }
    .col2_7i {
        width: 7%;
        text-align: left;
    }
    .col2_7d {
        width: 7%;
        text-align: right;
    }
    .col2 {
        width: 7%;
        text-align: right;
    }
    .col10 {
        width: 2%;
    }
    
    .col11 {
        width: 4%;
        text-align: right;
    }
    
    .col12 {
        width: 10%;
        text-align: right;
    }
    
    .table>thead>tr>th {
        background-color: #070959;
        color: #FFF200;
        text-transform: none;
    }

    .cold1 {
        width: 2%;
    }
    .cold2 {
        width: 5%;
        text-align: right;
    }

</style>

<div class="container-fluid">

    <params
        (parametrosConsulta) = "parametrosConsulta($event)"
        [dUltimaActualizacion] = "dUltimaActualizacion">
    </params>

    <div style="margin: 0% 0%; height: 24em; width: 100%;">

        <div class="card" style="padding: 3px;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header" style="padding: 2px;">
                                <h5 class="title" style="text-align: center; font-weight: bold;">Resumen</h5>
                            </div>
                            <div class="content table-responsive table-full-width" style="padding-top: 0px; padding-bottom: 2px;">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col1">{{encabResumenOper.hDesc}}</th>
                                            <th class="col2">{{encabResumenOper.hOper}}</th>
                                            <th class="col2">{{encabResumenOper.hMonto}}</th>
                                            <th class="col2">{{encabResumenOper.hPrimera}}</th>
                                            <th class="col2">{{encabResumenOper.hUltima}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tblResOperacion.dataRows">
                                            <td class="col1">{{row.etiqueta}}</td>
                                            <td class="col2">{{row.numOpers | number:'1.0-0'}}</td>
                                            <td class="col2">{{row.monto | currency:'USD':'symbol':'1.0-0'}}</td>
                                            <td class="col2">{{row.primerMto}}</td>
                                            <td class="col2">{{row.ultimoMto}}</td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <td class="col1">Retiro de Valores</td>
                                        <td class="col2">{{dotacion.estado}}</td>
                                        <td class="col2">{{dotacion.monto | currency:'USD':'symbol':'1.0-0'}}</td>
                                        <td class="col2">{{dotacion.iniciaDota}}</td>
                                        <td class="col2">{{dotacion.terminaDota}}</td>
                                    </tr>
                                    <tr>
                                        <td class="col1">Downtime después del corte</td>
                                        <td class="col2">{{deposito.tiempoDowntime}}</td>
                                        <td class="col2">{{deposito.montoDowntime | currency:'USD':'symbol':'1.0-0'}}</td>
                                        <td class="col2">{{deposito.terminaDota}}</td>
                                        <td class="col2">{{deposito.iniciaDeposito}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header" style="padding: 2px;">
                                <h5 class="title" style="text-align: center; font-weight: bold;">Consultas y Retiros por Hora</h5>
                            </div>
                            <div class="content table-responsive table-full-width" style="padding-top: 0px; padding-bottom: 2px;">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col11">{{encabRetPorHora.hHora}}</th>
                                            <th class="col12">{{encabRetPorHora.hCons}}</th>
                                            <th class="col12">{{encabRetPorHora.hAcumCons}}</th>
                                            <th class="col12">{{encabRetPorHora.hRet}}</th>
                                            <th class="col12">{{encabRetPorHora.hAcumRet}}</th>
                                            <th class="col12">{{encabRetPorHora.hMonto}}</th>
                                            <th class="col12">{{encabRetPorHora.hAcumRet}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tblConsRetPorMes.datos">
                                            <td class="col10">{{row.hora}}</td>
                                            <td class="col11">{{row.numConsultasPorHora}}</td>
                                            <td class="col11">{{row.acumNumConsultasPorHora}}</td>
                                            <td class="col11">{{row.numRetirosPorHora}}</td>
                                            <td class="col11">{{row.acumNumRetirosPorHora}}</td>
                                            <td class="col12">{{row.montoRetirosPorHora | currency:'USD':'symbol':'1.0-0'}}</td>
                                            <td class="col12">{{row.acumMontoRetirosPorHora | currency:'USD':'symbol':'1.0-0'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header" style="padding: 2px;">
                                <h5 class="title" style="text-align: center; font-weight: bold;">Resumen por Banco</h5>
                            </div>
                            <div class="content table-responsive table-full-width" style="padding-top: 0px; padding-bottom: 2px;">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col1_25">{{encabResPorBanco.hBanco}}</th>
                                            <th class="col2_7h">{{encabResPorBanco.hNumRetOk}}</th>
                                            <th class="col2_7h">{{encabResPorBanco.hNumRetNoOk}}</th>
                                            <th class="col2_7h">{{encabResPorBanco.hNumCons}}</th>
                                            <th class="col2_7h">{{encabResPorBanco.hNumConsNoOk}}</th>
                                            <th class="col2_7h">{{encabResPorBanco.hNumReversos}}</th>
                                            <!-- th class="col2">{{hCol.hNumRechazos}}</th -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dCol of tblResumenPorBanco.dataRows">
                                            <td class="col1_25">{{dCol.dBanco}}</td>
                                            <td class="col2_7d">{{dCol.dNumRetOk | number:'1.0-0'}}</td>
                                            <td class="col2_7d">{{dCol.dNumRetNoOk | number:'1.0-0'}}</td>
                                            <td class="col2_7d">{{dCol.dNumCons | number:'1.0-0'}}</td>
                                            <td class="col2_7d">{{dCol.dNumConsNoOk | number:'1.0-0'}}</td>
                                            <td class="col2_7d">{{dCol.dNumReversos | number:'1.0-0'}}</td>
                                            <!-- td class="col2">{{dCol.dNumRechazos | number:'1.0-0'}}</td -->
                                        </tr>
                                    </tbody>
                                        <tr *ngFor="let fCol of tblResumenPorBanco.totalRows" class="totalResumenBancos">
                                            <td class="totalResumenBancos col1_25">{{fCol.fNumBancos}}</td>
                                            <td class="totalResumenBancos col2_7d">{{fCol.fNumRetOk | number:'1.0-0'}}</td>
                                            <td class="totalResumenBancos col2_7d">{{fCol.fNumRetNoOK | number:'1.0-0'}}</td>
                                            <td class="totalResumenBancos col2_7d">{{fCol.fNumCons | number:'1.0-0'}}</td>
                                            <td class="totalResumenBancos col2_7d">{{fCol.fNumConsNoOk | number:'1.0-0'}}</td>
                                            <td class="totalResumenBancos col2_7d">{{fCol.fNumReversos | number:'1.0-0'}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>

                <div class="row"></div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="header" style="padding: 2px;">
                                <h5 class="title" style="text-align: center; font-weight: bold;">Errores por Banco</h5>
                            </div>
                            <div class="content table-responsive table-full-width" style="padding-top: 0px; padding-bottom: 2px;">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col2_7i">Banco</th>
                                            <th class="col2_7h">Error</th>
                                            <th class="col2_7d">Código</th>
                                            <th class="col2_7d">Errs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dCol of cErroresPorBanco">
                                            <td class="col2_7i">{{dCol.nomBanco}}</td>
                                            <td class="col1">{{dCol.descError}}</td>
                                            <td class="col2_7d">{{dCol.codError | number:'1.0-0'}}</td>
                                            <td class="col2_7d">{{dCol.numErrores | number:'1.0-0'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="row"></div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="header" style="padding: 2px;">
                                <h5 class="title" style="text-align: center; font-weight: bold;">Depósitos</h5>
                            </div>
                            <div class="content table-responsive table-full-width" style="padding-top: 0px; padding-bottom: 2px;">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="cold1">{{encabDepositos.hId}}</th>
                                            <th class="cold1">{{encabDepositos.dCta}}</th>
                                            <th class="cold2">{{encabDepositos.hHraIni}}</th>
                                            <th class="cold2">{{encabDepositos.hHraFin}}</th>
                                            <th class="cold2">{{encabDepositos.hMonto}}</th>
                                            <th class="cold2">{{encabDepositos.hBill20}}</th>
                                            <th class="cold2">{{encabDepositos.hBill50}}</th>
                                            <th class="cold2">{{encabDepositos.hBill100}}</th>
                                            <th class="cold2">{{encabDepositos.hBill200}}</th>
                                            <th class="cold2">{{encabDepositos.hBill500}}</th>
                                            <th class="cold2">{{encabDepositos.hBill1000}}</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let dCol of tblResumenDepositos.dataRows">
                                            <td class="cold1">{{dCol.dId}}</td>
                                            <td class="cold1">{{dCol.dCta}}</td>
                                            <td class="cold2">{{dCol.dHraIni}}</td>
                                            <td class="cold2">{{dCol.dHraFin}}</td>
                                            <td class="cold2">{{dCol.dMonto | currency:'USD':'symbol':'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill20 | number:'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill50 | number:'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill100 | number:'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill200 | number:'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill500 | number:'1.0-0'}}</td>
                                            <td class="cold2">{{dCol.dBill1000 | number:'1.0-0'}}</td>
                                        </tr>
                                    </tbody>
                                    <tr *ngFor="let fCol of tBillDep" class="totalResumenBancos">
                                        <td class="totalResumenBancos cold2"></td>
                                        <td class="totalResumenBancos cold2"></td>
                                        <td class="totalResumenBancos cold2"></td>
                                        <td class="totalResumenBancos cold2"></td>
                                        <td class="totalResumenBancos cold2">{{fCol.tMonto | currency:'USD':'symbol':'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB20 | number:'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB50 | number:'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB100 | number:'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB200 | number:'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB500 | number:'1.0-0'}}</td>
                                        <td class="totalResumenBancos cold2">{{fCol.tB1000 | number:'1.0-0'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
        </div>
    </div>
</div>
