
:host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host /deep/ tbody.tr.td{
    padding-top: 1px;
    padding-bottom: 1px;
}

.data-column{
    padding-top: 1px;
    padding-bottom: 1px;
}